.cont-gerador{
    background-color: var(--cor-4);
    color: var(--cor-5);
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 5px #00000071;

    min-height: 400px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}